body {
    background-color: #EFEFEF;
    color: #666;
}


a:link {
    color: <?php echo $colors[3] ?>;
}


a:visited, a:active {
    color: <?php echo $colors[4] ?>;
}


a:hover {
    color: <?php echo $colors[2] ?>;
}


#meta,
#sidebar {
    background-color: #FFF;
}


#content {}
    #content .card {
        background-color: #FFF;
    }


    #content a:link,
    #content a:visited,
    #content a:active {
        color: #999;
    }


    #content a:hover {
        color: #AAA;
    }


    #content header {
        color: #EEE;
        background-image: <?php echo sprintf('url(%s/bg.php?%s)',
                                             get_template_directory_uri(),
                                             http_build_query(['b' => substr($colors[3], 1),
                                                               'f' => 'FFF',
                                                               'h' => 50])); ?>;
        background-color: #666;
    }


    #content header h1 a:link,
    #content header h1 a:visited,
    #content header h1 a:active,
    #content header h2 a:link,
    #content header h2 a:visited,
    #content header h2 a:active {
        color: #AAA;
    }


    #content header h1 a:hover {
        color: #EFEFEF;
    }


#comment-form {}
    #comment-form dd p {
        color: #999;
    }


    #comment-form dd input,
    #comment-form dd textarea {
        border-color: #CCC;
        color: #999;
    }


    #comment-form .disclaimer p {
        color: #999;
    }


#footer {
    color: #AAA;
}
    #footer a:link,
    #footer a:visited,
    #footer a:active {
        color: #AAA;
    }


    #footer a:hover {
        color: #EFEFEF;
    }


@media only screen and (min-width: 768px) {
    #header {}
        #header h2 a {
            color: #BBB;
        }


        #header p {
            color: #BBB;
        }


    #meta {
        background-color: transparent;
        color: #AAA;
    }


    #sidebar {
        background-color: transparent;
    }
        #sidebar .widget h3 {
            color: #BBB;
        }


        #sidebar a:link,
        #sidebar a:visited,
        #sidebar a:active {
            color: #AAA;
        }


        #sidebar a:hover {
            color: #EFEFEF;
        }
}
