body {
    font-size: 13pt;
    font-family: sans-serif;
}


a:link {
    text-decoration: none;
}


#header {}
    #header h2 {
        text-align: center;
        font-weight: bold;
    }


#content {}
    #content a::after {
        content: ' \E157';
        font-family: 'Material Icons';
        vertical-align: bottom;
    }


    #content h1 {
        font-size: 1.5rem;
    }


    #content p {
        line-height: 1.5;
    }


    #content .meta dd::before {
        font-family: 'Material Icons';
        line-height: 1;
        vertical-align: bottom;
    }


    #content .meta dd.date::before {
        content: '\E8DF';
    }


    #content .meta dd.time::before {
        content: '\E192';
    }


    #content .meta dd.category::before {
        content: '\E2C7';
    }


@media only screen and (min-width: 768px) {
    #header {}
        #header h2 {
            text-align: left;
            font-size: 3rem;
            font-weight: bolder;
        }


    #sidebar {}
        #sidebar a::after {
            content: ' \E157';
            font-family: 'Material Icons';
            vertical-align: bottom;
        }


        #sidebar .widget {
            font-size: 0.9rem;
        }
            #sidebar .widget h3 {
                font-size: 1.2rem;
            }


    #content {}
        #content h1 {
            font-size: 2rem;
        }
}
