* {
    box-sizing: border-box;
}


/* design for mobile first */
body {
    float: left;
    width: 100%;
}


#container {
    width: 100%;
    float: left;
}


#meta {
}


#header {
    position: relative;
    padding: 0.5rem;
    z-index: 100;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    #header .toggle {
        float: left;
    }


    #header p {
        display: none;
    }


#sidebar {
    position: absolute;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    #sidebar a::after {
        display: inline-block;
    }

    #sidebar .widget {
        margin: 1rem 1rem 1.5rem;
    }


#content {
    width: calc(100% - 35px);
    padding: 0.5rem;
    clear: both;
    float: left;
}
    #content .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                    0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-bottom: 1px transparent solid;
        margin: 1.5rem 0 1rem;
    }


    #content h1 {
        margin: 0 0 1.5rem;
        padding: 2rem 1rem calc(50px + 1rem);
        background-position: bottom;
        background-repeat: no-repeat;
    }


    #content p {
        margin: 1rem;
    }


    #content h1 a::after,
    #content .meta a::after {
        display: none;
    }


    #content .meta {
        margin: 1rem;
    }


    #content .meta dt {
        display: none;
    }


    #content .meta dd::before {
        display: inline;
    }


    #content .meta dd {
        display: inline;
    }


/* desktop overwrites here */
@media only screen and (min-width: 768px) {
    #container {
        width: 80%;
        margin: 0 10%;
    }


    #meta {
        padding: 0.5rem;
        width: 33.3%;
        float: right;
        margin-top: 1rem;
    }


    #header {
        padding: 0;
        margin-top: 2rem;
        position: static;
        box-shadow: none;
    }
        #header p {
            display: block;
        }


    #sidebar {
        display: block;
        position: static;
        box-shadow: none;
        margin-top: 2rem;
        position: static;
    }
        #sidebar .widget {
            margin: 1.5rem 0;
        }


    #content {
        width: 66.7%;
        float: left;
        clear: none;
    }
}
