* {
    box-sizing: border-box;
}


/* design for mobile first */
body {
    float: left;
    width: 100%;
}


#container {
    width: 100%;
    float: left;
}


#meta {
}


#header {
    position: relative;
    padding: 0.5rem;
    z-index: 100;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    #header .toggle {
        float: left;
    }


    #header p {
        display: none;
    }


#sidebar {
    position: absolute;
    width: 100%;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    #sidebar a::after {
        display: inline-block;
    }


    #sidebar .widget {
        margin: 1rem 1rem 1.5rem;
    }


    #sidebar .widget ul {
        margin: 0.5rem 0;
    }


    #sidebar .widget li {
        margin: 0.5rem 0;
    }


    #sidebar .widget ul ul {
        margin: 0.5rem 0 0.5rem 1em;
    }


#content {
    width: calc(100% - 35px);
    padding: 1rem;
    clear: both;
    float: left;
}
    #content .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                    0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-bottom: 1px transparent solid;
        margin: 1.5rem 0 1rem;
    }


    #content header {
        margin: 0 0 1.5rem;
        padding: 2rem 2rem calc(50px + 1rem);
        background-position: bottom;
        background-repeat: no-repeat;
    }


    #content ol,
    #content ul,
    #content div,
    #content p {
        margin: 1rem 2rem;
    }


    #content ol, #content ul {
        list-style-position: outside;
    }


    #content ul {
        list-style-type: circle;
    }


    #content div ul,
    #content div ol,
    #content div div,
    #content div p {
        margin: 1rem 0;
    }


    #content ul ul,
    #content ul ol,
    #content ol ul,
    #content ol ol {
        margin: 1rem 0 1rem 1rem;
    }


    #content li {
        margin: 0 0 0.5rem;
    }


    #content h1 a::after,
    #content .meta a::after {
        display: none;
    }


    #content .meta {
        margin: 1rem 2rem;
    }


    #content .meta dt {
        display: none;
    }


    #content .meta dd::before {
        display: inline;
    }


    #content .meta dd {
        display: inline;
        margin: 0;
    }


    #content .meta dd.author {
        display: block;
    }


    #content .meta dd.author img {
        float: left;
        margin: 0 1rem 0 0;
    }


    #content .comment {
        border-top: 1px transparent solid;
    }


    #content .comment .meta a {
        margin: 0;
    }


#comment-form {}
    #comment-form dl {
        padding: 0;
        margin: 0;
    }


    #comment-form dt {
        margin: 1rem 2rem 0;
    }


    #comment-form dd {
        margin: 0 2rem 1rem;
    }


    #comment-form dd textarea,
    #comment-form dd input {
        width: 100%;
        padding: 0.5rem 0;
        border-width: 0 0 1px 0;
        margin: 0;
    }


    #comment-form dd textarea {
        height: 5rem;
    }


    #comment-form dd p {
        margin: 0;
    }


    #comment-form #submit {
        margin: 1rem 2rem;
    }


#navigation {
    padding: 0;
    margin: 0;
}
    #navigation::after {
        content: '';
        clear: both;
        display: block;
    }


    #navigation li {
        list-style-type: none;
        margin: 1rem 2rem;
    }


    #navigation li a::after {
        display: none;
    }


    #navigation .previous {
        float: left;
    }


    #navigation .next {
        float: right;
    }


/* desktop overwrites here */
@media only screen and (min-width: 768px) {
    #container {
        width: 80%;
        margin: 0 10%;
    }


    #meta {
        padding: 1rem;
        width: 33.3%;
        float: right;
        margin-top: 1rem;
    }


    #header {
        padding: 0;
        margin-top: 2rem;
        position: static;
        box-shadow: none;
    }
        #header p {
            display: block;
        }


    #sidebar {
        display: block;
        position: static;
        box-shadow: none;
        margin-top: 2rem;
        position: static;
    }
        #sidebar .widget {
            margin: 1.5rem 0;
        }


    #content {
        width: 66.7%;
        float: left;
        clear: none;
    }
}
